# --------------------
# Python
# --------------------
venv/
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.db
.env
.env.local

# --------------------
# Backend folders
# --------------------
uploads/
vectordb/

# --------------------
# Node / React
# --------------------
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.env.local
npm-debug.log
yarn-error.log

# --------------------
# IDEs & OS
# --------------------
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
